.popupSample {max-width: 1440px;min-height: 610px;margin: 0 auto;padding: 20px 0 0 0;}
.popupSample button {width: auto;height: auto;margin: 0 20px 20px 0;padding: 15px 30px;display: inline-block;color: #fff;font-size: 16px;text-align: center;background: #333;cursor: pointer;}

/* popup */
.modarOpened{overflow: hidden !important;-webkit-overflow-scrolling: touch;}
.modarPopup{position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(62, 62, 62, 0.8);-webkit-overflow-scrolling: touch;z-index: 99999;opacity: 0;overflow-y: auto;overflow-x: hidden;visibility: hidden;-webkit-transition: all 0.5s ease;transition: all 0.5s ease;-webkit-transition-property: opacity, visibility;transition-property: opacity, visibility;-webkit-transition-delay: 100ms;transition-delay: 100ms;-ms-overflow-style: none;scrollbar-width: none;}
.modarPopup::-webkit-scrollbar{display: none;}
.modarCenter{position: absolute;width: 100%;height: auto;min-height: 100%;display: flex;justify-content: center;align-items: center;/* padding: 40px 0; */box-sizing: border-box;}
.modarInner{position: relative;max-width: 100%;width: 520px;padding: 40px;background: #DBDBDB;box-sizing: border-box;-webkit-animation: slideOutDown 0.5s;-moz-animation: slideOutDown 0.5s;-ms-animation: slideOutDown 0.5s;-o-animation: slideOutDown 0.5s;animation: slideOutDown 0.5s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;overflow: hidden;color: #2E3028;}
.modarPopup.md .modarInner{width: 520px;}
.modarPopup.lg .modarInner{width: 800px;}
.modarPopup.full .modarInner{width: 1280px;padding: 0;}
.modarPopup .modarBody{/* opacity: 1; */height: 0;transition: 1s;-webkit-transition: 1s;}
.prizeItemImg{text-align: center;}
.jsModarClose{display: block;width: 100%;height: 72px;background: #856B4D;font-size: 24px;color: #D0CBC0;font-weight: 800;}
.btnCloseModar{position: absolute;top: 40px;right: 40px;width: 24px;height: 24px;background-image: url(../images/icon_popup_close.svg);background-position: center;background-repeat: no-repeat;overflow: hidden;text-indent: -9999px;white-space: nowrap;}
.modarPopup.full .btnCloseModar{top: 52px;right: 58px;width: 40px;height: 40px;background-image: url(../images/icon_popup_close2.svg);}

.modarPopup.show{opacity: 1;visibility: visible;-webkit-transition-delay: 0s;transition-delay: 0s;}
.modarPopup.show .modarInner{-webkit-animation: slideInUp 0.5s 50ms;-moz-animation: slideInUp 0.5s 50ms;-ms-animation: slideInUp 0.5s 50ms;-o-animation: slideInUp 0.5s 50ms;animation: slideInUp 0.5s 50ms;-webkit-animation-fill-mode: backwards;animation-fill-mode: backwards;}

.firstPopupBox{opacity: 0;position: absolute;left: 0;top: 0;overflow: hidden; width: 100%;height: 100%;padding: 80px 40px 80px;background: #ECE8E1;box-sizing: border-box;z-index: -1;transition: .5s;-webkit-transition: .5s;}
.firstPopupBox .flipImg{position: relative;width: 181px;height: 260px;margin: 38px auto 36px;perspective: 500px;}
.firstPopupBox .flipImg:after{content: "";position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 0;height: 0;background: #ECE8E1;box-shadow: 0px 0px 50px #ECE8E1;filter: drop-shadow(0 0 20px #ECE8E1);border-radius: 100%;}
.firstPopupBox .flipImg .flipImgInner{position: absolute;width: 100%;height: 100%;transform-style: preserve-3d;}
.firstPopupBox .flipImg .flipImgInner .front, .firstPopupBox .flipImg .flipImgInner .back{position: absolute;height: 100%;width: 100%;line-height: 1;text-align: center;backface-visibility: hidden;}
.firstPopupBox .flipImg .flipImgInner .front {transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}
.firstPopupBox p{font-size: 18px;color: #2D2D2D;font-weight: 600;line-height: 160%;text-align: center;}
.modarPopup .modarBody.on{opacity: 0;}
.modarPopup .modarBody.heightauto{height: auto;}
.modarPopup.firstPopupBoxOpen .modarInner{min-height: 680px;}
.modarPopup.firstPopupBoxOpen .firstPopupBox{opacity: 1;z-index: 12;-webkit-animation: fadeinout 2s linear forwards;-moz-animation: fadeinout 2s linear forwards;-ms-animation: fadeinout 2s linear forwards;-o-animation: fadeinout 2s linear forwards;animation: fadeinout 2s linear forwards;}
.modarPopup.firstPopupBoxOpen .flipImg:after{-webkit-animation: fadescale 0.5s 1.4s linear forwards;-moz-animation: fadescale 0.5s 1.4s linear forwards;-ms-animation: fadescale 0.5s 1.4s linear forwards;-o-animation: fadescale 0.5s 1.4s linear forwards;animation: fadescale 0.5s 1.4s linear forwards;}
.modarPopup.firstPopupBoxOpen .flipImgInner{-webkit-animation: flip 1.5s cubic-bezier(0.8, 0, 1, 1) forwards;-moz-animation: flip 1.5s cubic-bezier(0.8, 0, 1, 1) forwards;-ms-animation: flip 1.5s cubic-bezier(0.8, 0, 1, 1) forwards;-o-animation: flip 1.5s cubic-bezier(0.8, 0, 1, 1) forwards;animation: flip 1.5s cubic-bezier(0.8, 0, 1, 1) forwards;}

.popupTitleXs{margin-top: 34px;font-size: 28px;color: #0F1923;font-weight: 600;line-height: 150%;word-break: keep-all;}
.popupTitleSm{padding-right: 30px;font-size: 24px;color: #2E3030;font-weight: 600;line-height: 160%;word-break: keep-all;}
.popupTitleMd{margin: 40px 0 15px;font-size: 60px;color: #2E3030;font-weight: 400;line-height: 100%;text-align: center;letter-spacing: -1.8px;font-family: "Black Han Sans", sans-serif;word-break: keep-all;}
.popupTitleLg{font-size: 80px;color: #2E3030;font-weight: 400;line-height: 100%;letter-spacing: -2.4px;font-family: "Black Han Sans", sans-serif;text-align: center;}
.popupTextXs{margin: 10px 0 40px;font-size: 16px;color: #4A4A4A;font-weight: 700;line-height: 170%;text-align: left;word-break: keep-all;}
.popupTextSm{margin: 15px 0 40px;font-size: 18px;color: #2E3030;font-weight: 500;line-height: 160%;text-align: center;word-break: keep-all;}
.popupTextMd{margin: 5px 0 20px;font-size: 20px;color: #2D2D2D;font-weight: 700;line-height: 150%;text-align: center;word-break: keep-all;}
.popupTextLg{margin: 90px 0 80px;font-size: 24px;color: #2E3030;font-weight: 600;line-height: 160%;text-align: center;word-break: keep-all;}
.popupTextSm + .popupTextXs{margin: -35px 0 40px;}
.scrollBox{max-height: 462px;overflow-y: auto;margin-top: 20px;scrollbar-color: #8B978F #CDC7BD;scrollbar-width: thin;}
.scrollBox::-webkit-scrollbar {width: 6px;}/* 스크롤 바 */
.scrollBox::-webkit-scrollbar-track {background-color: #CDC7BD;}/* 스크롤 바 밑의 배경 */
.scrollBox::-webkit-scrollbar-thumb {background: #8B978F;}/* 실질적 스크롤 바 */
.scrollBox::-webkit-scrollbar-thumb:hover {background: #545a56;}/* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
.scrollBox::-webkit-scrollbar-thumb:active {background: #545a56;}/* 실질적 스크롤 바를 클릭할 때 */
.scrollBox .dotList li{position: relative;padding-left: 24px;font-size: 16px;color: #2E3030;line-height: 190%;font-weight: 400;letter-spacing: -0.16px;}
.scrollBox .dotList li:before{content: "";position: absolute;left: 10px;top: 12px;width: 4px;height: 4px;background-color: #2E3030;border-radius: 50%;}
.scrollBox .dotTitle{margin-bottom: 4px;color: #2E3030;font-size: 16px;font-weight: 700;line-height: 190%;letter-spacing: -0.16px;}/* 20230626 */
.scrollBox .dotList + .dotTitle{margin-top: 20px;}/* 20230626 */

.shareBtnGroup{margin: 50px 0 10px;display: flex;align-items: center;flex-direction: row;}
.shareBtnGroup button{position: relative;display: flex;align-items: center;justify-content: center;width: 60px;height: 60px;background-position: center;background-repeat: no-repeat;border: 1px solid #856B4D;box-sizing: border-box;overflow: hidden;text-indent: -9999px;white-space: nowrap;transition: .3s;-webkit-transition: .3s;}
.shareBtnGroup button:before{content: "";position: absolute;top: -1px;left: 3px;width: 1px;height: 8px;background-color: #856B4D;transform: rotate(315deg);}
.shareBtnGroup button:after{content: "";position: absolute;bottom: -1px;right: 3px;width: 1px;height: 8px;background-color: #856B4D;transform: rotate(315deg);}
.shareBtnGroup button + button{margin-left: 20px;}
.shareBtnGroup button.shareUrl{background-image: url(../images/icon_share_url.svg);}
.shareBtnGroup button.shareKakao{background-image: url(../images/icon_share_kakao.svg);}
.shareBtnGroup button.shareFacebook{background-image: url(../images/icon_share_facebook.svg);}
.shareBtnGroup button.shareTwitter{background-image: url(../images/icon_share_twitter.svg);}
.shareBtnGroup button:hover{background-color: #856B4D;}
.shareBtnGroup button.shareUrl:hover{background-image: url(../images/icon_share_url_on.svg);}
.shareBtnGroup button.shareKakao:hover{background-image: url(../images/icon_share_kakao_on.svg);}
.shareBtnGroup button.shareFacebook:hover{background-image: url(../images/icon_share_facebook_on.svg);}
.shareBtnGroup button.shareTwitter:hover{background-image: url(../images/icon_share_twitter_on.svg);}

.toast{position: fixed;top: 110px;left: 0;right:0;display: flex;align-items: center;justify-content: center;max-width: 0px;height: 65px;margin: 0 auto;visibility: hidden;background: #121212;border: 2px solid #7DFAC9;box-sizing: border-box;box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 0.25);backdrop-filter: blur(7.5px);-webkit-backdrop-filter: blur(7.5px);text-align: center;z-index: 100000;}
.toast #desc{font-size: 25px;color: #7DFAC9;font-weight: 600;line-height: 100%;text-align: center;overflow: hidden;white-space: nowrap;}
.toast.show {visibility: visible;-webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;-moz-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;-ms-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;-o-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;}

.rewardList{margin-top: 44px;}
.rewardList li{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-items: center;padding: 23px 10px;border-top: 1px solid #CACACA;box-sizing: border-box;}
.rewardList li:first-child{padding-top: 0;border-top: 0;}
.rewardList li .text{width: calc(100% - 160px);}
.rewardList li .text .date span{font-size: 16px;color: #848B89;font-weight: 500;}
.rewardList li .text .date span + span:before{content: "";display: inline-block;width: 1px;height: 19px;margin: 0 10px;background: #CACACA;vertical-align: -3px;}
.rewardList li .text .name{margin-top: 6px;font-size: 24px;color: #0F1923;font-weight: 700;line-height: 160%;word-break: keep-all;}
.rewardList li .result ,.rewardList li .result button{width: 140px;font-size: 20px;font-weight: 700;text-align: center;}
.rewardList li .result.off{color: #856B4D;}
.rewardList li .result.on button{width: 100%;height: 50px;background: linear-gradient(139deg, #856B4D 0%, #B79061 51.04%, #594033 100%);color: #FFF;}
.rewardList li .result.end button{width: 100%;height: 50px;background: #848B89;color: #2E3030;opacity: 0.5;cursor: inherit;}
.rewardList li .result.win{color: #EB5759;}
.rewardList li .result.notwin{color: #848B89;}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        visibility: visible;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}
@-moz-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        visibility: visible;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}
@-ms-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        visibility: visible;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}
@-o-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        visibility: visible;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}
@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
        visibility: visible;
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
}
@-moz-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
}
@-ms-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
}
@-o-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
}
@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0);
    }
}

@-webkit-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@-moz-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@-ms-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@-o-keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadein{
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes expand{
    from {min-width: 0px;opacity: 0;}
    to {min-width: 462px;opacity: 1;}
}
@-moz-keyframes expand{
    from {min-width: 0px;opacity: 0;}
    to {min-width: 462px;opacity: 1;}
}
@-ms-keyframes expand{
    from {min-width: 0px;opacity: 0;}
    to {min-width: 462px;opacity: 1;}
}
@-o-keyframes expand{
    from {min-width: 0px;opacity: 0;}
    to {min-width: 462px;opacity: 1;}
}
@keyframes expand{
    from {min-width: 0px;opacity: 0;}
    to {min-width: 462px;opacity: 1;}
}
@-webkit-keyframes stay{
    from {min-width: 462px;}
    to {min-width: 462px;}
}
@-moz-keyframes stay{
    from {min-width: 462px;}
    to {min-width: 462px;}
}
@-ms-keyframes stay{
    from {min-width: 462px;}
    to {min-width: 462px;}
}
@-o-keyframes stay{
    from {min-width: 462px;}
    to {min-width: 462px;}
}
@keyframes stay{
    from {min-width: 462px;}
    to {min-width: 462px;}
}
@-webkit-keyframes shrink{
    from {min-width: 462px;opacity: 1;}
    to {min-width: 0px;opacity: 0;}
}
@-moz-keyframes shrink{
    from {min-width: 462px;opacity: 1;}
    to {min-width: 0px;opacity: 0;}
}
@-ms-keyframes shrink{
    from {min-width: 462px;opacity: 1;}
    to {min-width: 0px;opacity: 0;}
}
@-o-keyframes shrink{
    from {min-width: 462px;opacity: 1;}
    to {min-width: 0px;opacity: 0;}
}
@keyframes shrink{
    from {min-width: 462px;opacity: 1;} 
    to {min-width: 0px;opacity: 0;}
}
@-webkit-keyframes fadeout {
    from {opacity: 1;} 
    to {opacity: 0;}
}
@-moz-keyframes fadeout{
    from {opacity: 1;} 
    to {opacity: 0;}
}
@-ms-keyframes fadeout{
    from {opacity: 1;} 
    to {opacity: 0;}
}
@-o-keyframes fadeout{
    from {opacity: 1;} 
    to {opacity: 0;}
}
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeinout{
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes fadeinout{
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
@-ms-keyframes fadeinout{
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
@-o-keyframes fadeinout{
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeinout{
    0% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes flip {
    from {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);} 
    to {transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}
@-moz-keyframes flip{
    from {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);} 
    to {transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}
@-ms-keyframes flip{
    from {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);} 
    to {transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}
@-o-keyframes flip{
    from {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);} 
    to {transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}
@keyframes flip {
    from {transform: rotateY(0deg);-webkit-transform: rotateY(0deg);} 
    to {transform: rotateY(540deg);-webkit-transform: rotateY(540deg);}
}

@-webkit-keyframes fadescale {
    from {width: 0px;height: 0px;} 
    to {width: 1000px;height: 1000px;}
}
@-moz-keyframes fadescale{
    from {width: 0px;height: 0px;} 
    to {width: 1000px;height: 1000px;}
}
@-ms-keyframes fadescale{
    from {width: 0px;height: 0px;} 
    to {width: 1000px;height: 1000px;}
}
@-o-keyframes fadescale{
    from {width: 0px;height: 0px;} 
    to {width: 1000px;height: 1000px;}
}
@keyframes fadescale {
    from {width: 0px;height: 0px;} 
    to {width: 1000px;height: 1000px;}
}